body {
  margin: 0;
  font-family: 'Black Han Sans';
}

a{
  text-decoration: none;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(216, 155, 155);
  padding: 0px 12px;
}

.navbar__logo{
  font-size: 24px;
}

.navbar__menu{
  display: flex;
  list-style: none; 
  padding-left: 0;
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu li:hover{
  background-color: red;
  border-radius: 4px;
}

.navbar__toggleBtn {
  display: none;
  position: absolute;
  right: 12px;
  font-size: 24px;
  color: white;
}

@media screen and (max-width: 768px) {
  .navbar{
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 12px;
  }

  .navbar__menu{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar__menu li {
    width: 100%;
    text-align: center;
  }

  .navbar__toggleBtn{
    display: block;
  }

  .navbar__menu.active{
    display: flex;
  }
}