<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/navbar.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
  <title>Nav bar</title>
  <script src="https://kit.fontawesome.com/ef6f900ef2.js" crossorigin="anonymous"></script>
  <script src="js/navbarLoader.js" defer></script>
</head>
<body>
  <nav class="navbar">
    <div class="navbar__logo">
      <img src="images/logo.png" width="20" height="20">
      <a href="">먹거리</a>
      <!-- href에 홈화면 파일링크 먹거리 누르면 홈화면으로 돌아감 -->
    </div>
    <ul class="navbar__menu">
      <li><a href="">창1</a></li>
      <li><a href="">창2</a></li>
      <li><a href="">창3</a></li>
    </ul>

    <a href="" class="navbar__toggleBtn">
      <i class="fa-solid fa-bars"></i>
    </a>

  </nav>
</body>
</html>